<footer class="site-footer">
  <div>
    <h3>Charles-Antoine Menanteau</h3>
    <p>Psychologue • Psychothérapeute<br />Hypnothérapeute</p>
    <p>Une pratique clinique attentive à l’expérience vécue, aux crises de sens et aux transformations intérieures.</p>
  </div>
  <div>
    <h4>Informations pratiques</h4>
    <p>Cabinet à Nantes<br />et consultations en visio</p>
    <p>Sur rendez-vous</p>
  </div>
  <div>
    <h4>Contact</h4>
    <p>06 00 00 00 00</p>
    <p>contact@charlesantoine-menanteau.fr</p>
    <p><a href="/contact">Formulaire de contact</a></p>
  </div>
  <div class="footer-mark" aria-hidden="true"></div>
</footer>
